/* ********************************* */
/* HERO SECTION */
/* ********************************* */

.hero {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(184, 57, 121, 0.85), rgba(147, 46, 96, 0.85)), url(../img/kg-bw.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 60vh;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-60%, -50%);
}

.hero-heading {
    font-size: 5.2rem;
}

/* ********************************* */
/* ABOUT ME SECTION */
/* ********************************* */

.about-text {
    flex-direction: column;
    padding: 3.2rem 4.8rem;
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
    border: 1px solid var(--main-gold);
}

.about-heading {
    align-self: center;
}

.heading--secondary {
    font-size: 4.4rem;
}

.about-text-p {
    gap: 4.2rem;
}

.about-text-p p {
    line-height: 2;
}

.about-text-p span {
    font-weight: 600;
}




/* ********************************* */
/* SKILLS SECTION */
/* ********************************* */
.skills-box {
    flex-direction: column;
    gap: 3.8rem;
    width: 100%;
}

.about-skills {
    flex-direction: column;
    justify-content: center;
    padding: 4.8rem 0;

}

.my-skills,
.my-tools {
    gap: 1.8rem;
    text-align: center;
    width: 90%;
}

.skill {
    background-color: var(--main-pink);
    color: #fff;
    padding: 1.6rem 1.2rem;
    text-transform: uppercase;
    border-radius: 8px;
}

.skill:hover {
    font-weight: 600;
    transform: scale(1.05);
}

/* ********************************* */
/* FOOTER SECTION */
/* ********************************* */

.footer {
    position: relative;
}