/* Header */
.header {
    position: relative;
}

/* Contacts section */
.contact {
    background-color: #548e98;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    gap: 9.6rem;
}

.connect {
    font-size: 5.8rem;
    margin: 0;
}

.connect-img {
    width: 13rem; 
    border-radius: 50%;
    border: 2px solid #ffc458;
}

.contact-info {
    width: 65%;
    text-align: center;
    gap: 2.4rem;
}

.contact-box {
    flex-direction: column;
    background-color: #fff;
    border-radius: 11px;
    width: 85%;
    justify-self: center;
    padding: 3.8rem 0;
    gap: 2.4rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
    transition: all .2s;
}

.contact-box:hover {
    transform: scale(1.1);
}

.heading--tertiary {
    font-size: 2.2rem;
    color: #b83978;
}

.info-box {
    padding: 0 2.4rem;
    color: rgba(38, 38, 39, 0.8);
}

address {
    font-style: normal;
    font-size: 1.6rem; 
}

address a:link,
address a:visited {
    color: rgba(38, 38, 39, 0.8);
}

address a:hover {
    color: #b83978;
    font-weight: 600;
}

.social-links {
    justify-content: center;
    gap: 3.2rem;
    margin-top: 0;
}

.social-icon {
    height: 4.4rem;
    width: 4.4rem;
}

hr {
   color: #548e98; 
}

/* Footer */
.footer {
    background-color: #fff;
}