/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* 
DESIGN SETTINGS:

--- 1) TYPOGRAPHY SYSTEM ---

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 2) COLORS ---

- Primary Colors:
#ffca69
logo text: #ffc458
#6ab0dd
#548e98
#b83978

- Tints: 
- Shades: 
- Accents:
- Greys:  
dark grey/almost black: #262627

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* ********************************* */
/* BASE STYLES */
/* ********************************* */
:root {
  --main-gold: #ffca69;
  --main-gold-text: #ffc458;
  --main-gold-light: #ffd587;
  --main-blue: #6ab0dd;
  --main-green: #548e98;
  --main-pink: #b83978;
}

/* ********************************* */
/* BASE STYLES */
/* ********************************* */
 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  /* font size 10px */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-weight: 500;
  color: #262627;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* hide scroll bar */
body::-webkit-scrollbar {
  display: none;
}


/* ********************************* */
/* LAYOUT & GRID */
/* ********************************* */

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.flex {
  display: flex;
}

.flex--center {
  align-items: center;
}

.container-lg {
  margin: 4.8rem 19.2rem;
}

/* ********************************* */
/* HEADER/FOOTER TO USE ACROSS PAGES */
/* ********************************* */


/* HEADER */
/* ****** */

.header {
  justify-content: space-between;
  padding: .5rem 6.4rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0; 
  z-index: 1;
  background-color: hsla(0, 0%, 100%, 0.6);
}

.logo {
  font-family: 'Festive', cursive;
  font-size: 6.8rem;
  color: var(--main-gold-text);
  text-transform: lowercase;
  font-weight: 600;
}


/* NAVIGATION */
/* ********** */

.main-nav-list {
  gap: 12.8rem;
}

.main-nav-link {
  display: inline-block;
  color: #262627;
}

.main-nav-link:hover {
  border-bottom: 2px solid var(--main-pink);
  color: var(--main-pink);
}

.main-nav-link.selected-page {
  color: var(--main-pink);
  border-bottom: none;
}

/* Mobile */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: rgba(38, 38, 39, 0.8);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}


/* FOOTER */
/* ********** */

.footer {
  background-color: hsla(0, 0%, 100%, 0.6);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .8rem;
  border-top: 1px solid rgba(84, 142, 152, 0.2);
}

.footer p {
  font-size: 1.2rem;
  color: rgba(38, 38, 39, 0.6);
}


/* ********************************* */
/* GENERAL REUSABLE COMPONENTS */
/* ********************************* */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.margin-bottom-lg {
  margin-bottom: 3.2rem;
}

.margin-bottom-med {
  margin-bottom: 2.4rem;
}

.margin-bottom-sm {
  margin-bottom: 1.2rem;
}

.heading {
  display: inline-block;
  font-family: 'Festive', cursive;
  text-transform: lowercase;
  letter-spacing: 0.1rem;
}

.heading--primary {
  font-size: 4.2rem;
  color: var(--main-gold-text);
  font-weight: 700;
}

.heading--secondary {
  font-size: 3.6rem; 
  font-weight: 600;
  color: var(--main-pink);
}

.heading--tertiary {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: lowercase;
}


.text-center-v {
  text-align: center;
}


.color-pink {
  color: var(--main-pink);
}


.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem; 
    padding: 1.6rem 3.2rem;
    border-radius: 8px; 
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    border: none;
    font-family: inherit;

    transition: all 0.2s;
}

.btn--full {
    background-color: var(--main-pink);
    color: #fff;
}

.btn--full:hover {
    background-color: #812854;
}

.btn--full:active {
  background-color: #5c1d3c;

}

.btn--outline {
     background-color: #fff;
     color: rgba(38, 38, 39, 0.8);
     box-shadow: inset 0 0 0 1.5px var(--main-pink);

}

.btn--outline:hover,
.btn--outline:active {
     background-color: #eac4d7;
     box-shadow: inset 0 0 0 3px #fff;
}

.btn--outline:active {
  background-color: #d488ae;

}





/* ********************************* */
/* BOILERPLATE CODE */
/* ********************************* */


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
  visibility: hidden;

}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

