/* ********************************* */
/* MEDIA QUERIES */
/* ********************************* */

/* $bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px x 1600
https://css-tricks.com/optimizing-large-scale-displays/ */

/* 1920×1080 (8.89%)
1366×768 (8.44%)
360×640 (7.28%)
414×896 (4.58%)
1536×864 (3.88%)
375×667 (3.75%) */


/* Large Desktop Screens */
@media (min-width: 125em) {
    /* 2000px */

    /********* HOME PAGE *********/

    /* Header */
    .logo {
        font-size: 7.4rem;
    }

    .heading--tertiary {
        font-size: 2.4rem;
    }

    /* Intro section */
    .intro-img {
        width: 75%;
    }

    .heading--primary {
        font-size: 5.2rem;
    }

    .intro-p {
        font-size: 1.8rem;
    }

    .social-icon {
        height: 4.2rem;
        width: 4.2rem;
    }

    .project-box {
        width: 15%;
    }

    .desc {
        font-size: 4.2rem;
    }

    .skills-used p {
        font-size: 1.6rem;
    }

    .description-box .heading--secondary {
        font-size: 4.2rem;
    }

    /********* ABOUT PAGE *********/

    .hero-heading {
        font-size: 5.8rem;
    }

    .container-lg {
        margin: 4.8rem 25.6rem;
      }

      p {
        font-size: 2rem;
    }

    /********* CONTACT PAGE *********/
    .connect.heading--primary {
        font-size: 5.8rem;
    }

    .contact-info .social-icon {
        height: 5.2rem;
        width: 5.2rem;
    }

    .contact-info a {
        font-size: 2rem;
    }

    .info-box {
        padding: 0 3.6rem 1.2rem 3.6rem;
    }


}

/* Extra large screens */
@media (min-width: 175em) {  
    /* 2800px */

    /* HOME PAGE */
    .intro-col {
        gap: 0;
    }

    .intro-img {
        width: 60%;
    }

    p {
        font-size: 2rem;
    }

    .project-box {
        width: 13%;
    }

    /* ABOUT PAGE */
    .container-lg {
        margin: 4.8rem 28.8rem;
      }
}


/* Desktop/laptops */
@media (max-width: 96em) {
    /* 1536px */

    /* HOME PAGE */
    .project-description {
        width: 70%;
        height: 65%;
    }

    /* ABOUT PAGE */
    .container-lg {
        margin: 4.8rem 17.8rem;
      }
     
    .contact-info {
        width: 75%;
    }
}

/* Smaller Desktops/laptops */
@media (max-width: 86em) {
    /* 1366px */

    /* HOME PAGE */

    .logo {
        font-size: 6.2rem;
    }

    .main-nav-list {
        gap: 9.6rem;
      }

    p {
        font-size: 1.4rem;
    }

    .skills-used {
        width: 115%;
    }

    .skills-used p {
        font-size: 1rem;
    }

    .skills,
    .tools {
        font-size: 1.2rem;
    }

    /* ABOUT PAGE */
    .hero-heading {
        font-size: 4.2rem;
    }

    .heading--secondary {
        font-size: 3.8rem;
    }

    /* CONTACT PAGE */
    .connect.heading--primary {
        font-size: 4.8rem;
    }

    .contact-info a {
        font-size: 1.4rem;
    }

    

}