/* ********************************* */
/* MAIN PORTFOLIO SECTION */
/* ********************************* */

.home-page {
  width: 100%;
  grid-template-columns: 28% 1fr;
  padding-left: 6.4rem;
  gap: 6.4rem;

  /* relative to the opened description */
  position: relative;
}

/******* INTRO COLUMN *******/
/****************************/

.intro-col {
  flex-direction: column;
  gap: 1.2rem;
  height: 75vh;
  position: sticky;
  top: 20%;
}

.intro-img {
  width: 90%;
  align-self: center;
  border-radius: 50%;

  transition: all 0.2s;
}

.intro-img:hover {
  transform: scale(1.05);
}

.intro-col .heading--primary {
  margin: 1.2rem 0;
}

.container-intro {
  flex-direction: column;
}

.name {
  font-weight: 600;
}

.social-links {
  gap: 1.8rem;
  margin-top: 1rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--main-gold);

  transition: all 0.2s;
}

.social-icon:hover {
  color: var(--main-pink);
}

/******* PROJECTS COLUMN *******/
/*******************************/

.projects-col {
  flex-direction: column;
}

.projects-text {
  font-size: 1.6rem;
  text-transform: lowercase;
  color: rgba(38, 38, 39, 0.5);
}

.project {
  height: 85vh;
  overflow: hidden;
}

.project-container {
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  height: 100%;
  /* position relative to X when description is open */
  position: relative;
}

.project-box {
  flex-direction: column;
  gap: 1.8rem;
  width: 23%;
  padding: 1rem;
}

.project-img {
  width: 100%;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s;
  margin: 0;
}

.project-img:hover,
.project-img:active {
  transform: translateY(-2px) scale(1.1);
  filter: none;
  opacity: 1;
}

.project-img:active {
  transform: translateY(1px) scale(1.02);
}

.desc {
  display: inline-block;
  text-decoration: none;
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--main-gold-light);
  width: 150%;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0.1rem;

  cursor: pointer;
  font-family: "Festive", cursive;

  transition: all 0.2s;
}

.desc:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.desc.desc--pink {
  color: var(--main-pink);
}

.skills-used {
  width: 150%;
}

.skills-used p {
  background-color: var(--main-gold);
  border-radius: 11px;
  padding: 0.8rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  width: 100%;
  margin: 0 auto;
  font-style: italic;
  margin-top: 1.4rem;
  opacity: 0.5;
}

.skills-used .pink-background {
  background-color: var(--main-pink);
  color: #fff;
}

.project-1,
.project-7 {
  background-color: var(--main-blue);
}
.project-2,
.project-6 {
  background-color: var(--main-green);
}
.project-3,
.project-5 {
  background-color: var(--main-gold);
}
.project-4 {
  background-color: var(--main-pink);
}

/******* PROJECTS COLUMN - DESCRIPTION LINK PRESSED *******/
/**********************************************************/
.project-description {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100vw);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  transition: all 0.5s ease-in-out;
}

.open-description {
  transform: translateX(0);
}

.description-box {
  background-color: #fff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  height: 60%;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  padding: 4.8rem;
}

.description-box span {
  text-transform: lowercase;
  color: var(--main-pink);
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.description-box h2,
.description-box p {
  margin-bottom: 2.4rem;
}

.skills,
.tools {
  font-size: 1.4rem;
}

.buttons {
  margin-top: 1.2rem;
}

.buttons a,
.buttons .back {
  display: block;
  text-align: left;
  width: 45%;
}

.buttons a {
  margin-bottom: 2.4rem;
}
