/* ********************************* */
/* HEADER */
/* ********************************* */

.header {
    display: flex;
    align-items: center;
    height: 12.8rem;
    justify-content: space-between;
    padding: 1.8rem 8.6rem;
    position: sticky;
    top: 0; 
    z-index: 1;
    background-color: hsla(0, 0%, 100%, 0.6);
}

.logo {
    font-family: 'Festive', cursive;
    font-size: 6.2rem;
    color: #ffc458;
    text-transform: lowercase;
    font-weight: 600;
}

/* ********************************* */
/* NAVIGATION */
/* ********************************* */

.main-nav-list {
    display: flex;
    gap: 12.8rem;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: lowercase;
}

.main-nav-link {
    color: #262627;
}

.main-nav-link:hover {
    border-bottom: 2px solid #b83978;
    color: #b83978;
}

.main-nav-link.selected-page {
    color: #b83978;
    cursor: default;
    border-bottom: none;
  }


/* ********************************* */
/* MAIN PORTFOLIO SECTION */
/* ********************************* */

.landing-page {
    width: 100%;
    grid-template-columns: 28% 1fr;
    padding-left: 8.6rem;
    gap: 8.6rem;
    position: relative;
}


/******* INTRO COLUMN *******/

.intro-col {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    height: 75vh;
    position: sticky;
    top: 20%;
}

.intro-img {
    width: 95%;
    align-self: center;
    border-radius: 50%;

    transition: all .2s;
}

.intro-img:hover {
    transform: scale(1.1);
}

.intro-text {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    margin-top: 1.2rem;
}

.name {
    font-weight: 600;
}

.social-links {
    display: flex;
    gap: 1.2rem;

}
.social-icon {
    height: 1.8rem;
    width: 1.8rem;
    color: #ffca69;
}


/******* PROJECTS COLUMN *******/

.projects-col {
    display: flex;
    flex-direction: column;
}

.projects-text {
    font-size: 1.6rem;
    text-transform: lowercase;
    color: rgba(38, 38, 39, .5);
}

.project {
    height: 80vh;
    overflow: hidden;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    height: 100%;
}

/* Was getting a bug with the anchor & img
so added this styling */
.img-anchor {
    width: 25%;
}

.project-img {
    width: 100%;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: all 0.2s;
    margin: 0;
}

.project-img:hover,
.project-img:active {
    transform: translateY(-2px) scale(1.1);
    filter: none;
    opacity: 1;
}

.project-img:active {
    transform: translateY(1px) scale(1.02);
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 3.2rem; 
    font-weight: 500;
    color: #ffca69;
    text-transform: lowercase;
    letter-spacing: 0.1rem;

    cursor: pointer;
    font-family: 'Festive', cursive;
    border: none;

    /* animate link and hover states */
    transition: all 0.1s;
}

.btn:hover {
    border-bottom: 1px solid #ffca69;
    transform: scale(1.1);
}

.btn.btn--pink,
.btn.btn--pink:link,
.btn.btn--pink,visited {
    color: #b83978;
}

.btn.btn--pink:hover {
    color: #b83978;
    border-bottom: 1px solid #b83978;

}


.project-1 {
    background-color: #6ab0dd;
}
.project-2,
.project-6 {
    background-color: #548e98;
}
.project-3,
.project-5 {
    background-color: #ffca69;
}
.project-4 {
    background-color: #b83978;
}



/* ********************************* */
/* MEDIA QUERIES */
/* ********************************* */

/* $bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px x 1600
https://css-tricks.com/optimizing-large-scale-displays/ */

/* 1920×1080 (8.89%)
1366×768 (8.44%)
360×640 (7.28%)
414×896 (4.58%)
1536×864 (3.88%)
375×667 (3.75%) */

/* Large Desktop Screens */
@media (min-width: 125em) {
    .logo {
        font-size: 7.4rem;
    }

    .intro-img {
        width: 75%;
    }
    
    .img-anchor {
        width: 20%;
    }

    .landing-page {
        grid-template-columns: 33% 1fr;
    }
}
@media (min-width: 175em) {  
    .intro-col {
        gap: 0;
    }

    .intro-img {
        width: 70%;
    }
    
    .img-anchor {
        width: 15%;
    }
}

/* Laptops */
@media (max-width: 100em) {  
    .logo {
        font-size: 6.2rem;
    }
}
