/* ********************************* */
/* HEADER */
/* ********************************* */

.header {
    justify-content: space-between;
    padding: .5rem 6.4rem;
    position: sticky;
    top: 0; 
    z-index: 1;
    background-color: hsla(0, 0%, 100%, 0.6);
}

.logo {
    font-family: 'Festive', cursive;
    font-size: 6.8rem;
    color: #ffc458;
    text-transform: lowercase;
    font-weight: 600;
}

/* ********************************* */
/* NAVIGATION */
/* ********************************* */

.main-nav-list {
    gap: 12.8rem;
}

.main-nav-link {
    display: inline-block;
    color: #262627;
}

.main-nav-link:hover {
    border-bottom: 2px solid #b83978;
    color: #b83978;
}

.main-nav-link.selected-page {
    color: #b83978;
    border-bottom: none;
  }


/* ********************************* */
/* MAIN PORTFOLIO SECTION */
/* ********************************* */

.home-page {
    width: 100%;
    grid-template-columns: 28% 1fr;
    padding-left: 6.4rem;
    gap: 6.4rem;

    /* relative to the opened description */
    position: relative;
}


/******* INTRO COLUMN *******/

.intro-col {
    flex-direction: column;
    gap: 1.2rem;
    height: 75vh;
    position: sticky;
    top: 20%;
}

.intro-img {
    width: 90%;
    align-self: center;
    border-radius: 50%;

    transition: all .2s;
}

.intro-img:hover {
    transform: scale(1.05);
}

.name {
    font-weight: 600;
}

.social-links {
    gap: 1.8rem;
    margin-top: 1rem;

}
.social-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #ffca69;
}

.social-icon:hover {
    filter: brightness(.9);
}


/******* PROJECTS COLUMN *******/

.projects-col {
    flex-direction: column;
}

.projects-text {
    font-size: 1.6rem;
    text-transform: lowercase;
    color: rgba(38, 38, 39, .5);
}

.project {
    height: 80vh;
    overflow: hidden;
}

.project-container {
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    height: 100%;
    /* position so X is in upper rt corner when
    description is open */
    position: relative;
}

/* Getting a bug with the anchor & img
so added this styling to <a> */

.project-box {
    flex-direction: column;
    width: 20%;
}

.project-img {
    width: 100%;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: all 0.2s;
    margin: 0;
}

.project-img:hover,
.project-img:active {
    transform: translateY(-2px) scale(1.05);
    filter: none;
    opacity: 1;
}

.project-img:active {
    transform: translateY(1px) scale(1.02);
}

.desc {
    display: inline-block;
    text-decoration: none;
    font-size: 3.2rem; 
    font-weight: 500;
    color: #ffca69;
    text-transform: lowercase;
    letter-spacing: 0.1rem;

    cursor: pointer;
    font-family: 'Festive', cursive;

    /* animate link and hover states */
    transition: all .2s;
}

.desc:hover {
    border-bottom: 1px solid #ffca69;
    transform: scale(1.1);
}

.desc.desc--pink {
    color: #b83978;
}

.desc.desc--pink:hover {
    border-bottom: 1px solid #b83978;
}

.skills-used p {
    background-color: rgba(255, 197, 88, 0.2);
    border-radius: 11px;
    padding: 1.2rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    color: rgba(38, 38, 39, 0.5);
    width: 90%;
    margin: 0 auto;
    font-style: italic;
    margin-top: 2rem;

    transition: all .4s;
}

.skills-used p:hover {
    background-color: #ffca69;   
}

.skills-used .pink-background {
    background-color: rgba(184, 57, 121, 0.2);
}

.skills-used .pink-background:hover {
    background-color: #b83979;
    color: #fff;
}


.project-1 {
    background-color: #6ab0dd;
}
.project-2,
.project-6 {
    background-color: #548e98;
}
.project-3,
.project-5 {
    background-color: #ffca69;
}
.project-4 {
    background-color: #b83978;
}


/******* PROJECTS COLUMN - DESCRIPTION BUTTON PRESSED *******/
.description {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    background-color: inherit;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    z-index: 2;

    overflow: hidden;
}

/* stop scrolling (add to body when .description is open) */
.no-scroll {
    overflow: hidden;
}

.btn-close {
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: inherit;
    border: none;
    font-size: 5.2rem;
    height: 5.2rem;
    width: 5.2rem;
    margin: 0;
    text-decoration: none;
    cursor: pointer;

    transition: all 0.2s;
}

.btn-close:hover {
    transform: scale(1.3);
}

.project-description {
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255);

    overflow: hidden;
    height: 55%;
    width: 60%;
    border-radius: 11px;
    margin-top: 10rem;
    overflow: hidden;
}

.desc-img-box {
    background-size: cover;
    background-position: top;
    border-right: 1px solid rgba(38, 38, 39, 0.5); 
}

.project-1 .desc-img-box {
    background-image: url("../img/github.png");
    background-position: top-left;
}
.project-2 .desc-img-box {
    background-image: url("../img/unplugged.png");
}
.project-3 .desc-img-box {
    background-image: url("../img/sticky-note.png");
    background-position: left;
}
.project-4 .desc-img-box {
    background-image: url("../img/guess.png");
}
.project-5 .desc-img-box {
    background-image: url("../img/joke.png");
}
.project-6 .desc-img-box {
    background-image: url("../img/omnifood.png");
}

.description-box {
    flex-direction: column;
    justify-content: center;
    gap: 2.8rem;
    padding: 4.8rem;
}

.description-box span {
    text-transform: lowercase;
    color: #b83978;
    font-weight: 600;
    letter-spacing: .1rem;
}

.skills,
.tools {
    font-size: 1.5rem;
}


.buttons {
    margin-top: 1.8rem;
    gap: 1.8rem;
}


/******* FOOTER *******/


.footer {
    background-color: hsla(0, 0%, 100%, 0.6);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .8rem;
    border-top: 1px solid rgba(84, 142, 152, 0.2);
}

.footer p {
    font-size: 1.2rem;
    color: rgba(38, 38, 39, 0.6);
}


